.itens-list {
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #dee2e6;
}

.itens-list li {
  padding: 3px 0;
}

.toggle-itens {
  width: fit-content;
}

.status-approved{
    background-color: #aeffd7;
    color: #577d67;
    font-size: 14px;
    padding: 5px 20px 5px 20px;
}

.status-peding{
    background-color: #f8e7c1;
    color: #897a5b;
    font-size: 14px; 
    padding: 8px; 
}

.status-declined{
    background-color: #ffc7c4;
    color: #9f7173;
    font-size: 14px; 
    padding: 5px 20px 5px 20px;
}

.btn-white{
    background-color: white;
    border-color: #e4e4e7;
    font-weight: 600;
}

.btn-white:hover{
    background-color: rgb(240, 240, 240);
    border-color: #e4e4e7;
    font-weight: 600;
}

.btn-yellow{
    background-color: #f8e7c1;
    border-color:  #b6a076;
    color: #706349;
    font-size: 14px; 
    padding: 8px; 
}

.btn-yellow:hover{
    background-color: #fae1ab;
    border-color: #fae2ae !important;
    font-weight: 600;
}

.btn-yellow:active{
    background-color: #fcdc99 !important;
    border-color: #fae2ae !important;
}

.btn-green{
    background-color: #aeffd7 !important;
    color: #577d67 !important;
    border-color:  #81bd9a !important;
    font-size: 14px !important; 
    padding: 8px !important; 
}

.btn-red{
    background-color: #ffc7c4 !important;
    color: #9f7173 !important;
    border-color:  #d49699 !important;
    font-size: 14px !important; 
    padding: 8px !important; 
}

.btn-white:active{
    border-color: #e4e4e7 !important;
}

.desc-modal-title {
    color: #71717a;
    font-size: 0.875rem; 
    padding-top: 6px;
}

.text-modal {
    font-size: 0.875rem;
    font-weight: 500;
}

.tempo-aberto {
    background-color: #f8f9fa;
    padding: 5px 10px;
    border-radius: 4px;
    display: inline-block;
}

.tempo-decorrido {
    font-weight: bold;
    color: #343a40;
}

.badge-status {
    font-size: 0.8rem;
    padding: 5px 10px;
    margin-left: 5px;
}