{% extends 'base.html' %}

{% load static %}

{% block links %}

<link rel="stylesheet" href="/static/css/select2.css">

{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-baseline">
  <h3 class="mb-4 fw-bold">Padrões de Solicitações</h3>
  <button class="btn btn-dark" id="abrirModalPadroes">
    <i class="bi bi-plus-lg m-2"></i>
    Adicionar Padrão
  </button>
</div>

<div class="row justify-content-between mb-3">
  <div class="col-md-4 mb-2">
    <label class="text-modal">Padrões</label>
    <div class="input-group mb-3">
      <input type="text" class="form-control text-modal" id="filterPadroes" placeholder="Filtrar por Nome ou Código">
      <button class="btn btn-white" type="button" id="button-filtrar-padrao">
        <i id="search-icon-glass" class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>    
  </div>
  <div class="col-md-2">
    <label class="text-modal">Status</label>
    <select class="form-control text-modal" id="filterAtivo">
      <option value="">Todos</option>
      <option value="Ativo">Ativo</option>
      <option value="Desativado">Desativado</option>
    </select>
  </div>
</div>

<table id="tabelaPadroes" class="table table-hover w-100">
    <thead class="table-light">
        <tr>
            <th class="text-center">#</th>
            <th style="max-width: 300px;">Nome do Padrão</th>
            <th>Setor</th>
            <th>Funcionário</th>
            <th>Itens</th>
            <th>Ativo?</th>
            <th>Data Criação</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

{% include 'modal/modal_padrao.html' %}

{% endblock %}

{% block scripts %}
<script src="{% static 'js/toggle-itens.js' %}"></script>
<script type="module" src="{% static 'js/clone.js' %}"></script>
<script type="module" src="{% static 'js/datatable-padroes.js' %}"></script>
<script type="module" src="{% static 'js/crud-padroes.js' %}"></script>
<script type="module" src="{% static 'js/get/setores.js' %}"></script>
<script type="module" src="{% static 'js/get/funcionarios.js' %}"></script>
<script type="module" src="{% static 'js/get/equipamentos.js' %}"></script>
{% endblock %}