{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="d-flex justify-content-between align-items-baseline">
  <h3 class="mb-4 fw-bold">Sistema de Controle de EPI - Panorama Geral</h3>
  <a href="/solicitacao">
    <button class="btn btn-white" id="abrirModalPadroes">
        <i class="bi bi-box-arrow-up-left"></i>
        Solicitar Padrão
    </button>
  </a>
</div>

<div class="row justify-content-between mb-3">
  <div class="col-md-4 mb-2">
    <label class="text-modal">Solicitações</label>
    <div class="input-group mb-3">
      <input type="text" class="form-control text-modal" id="filterPadroes" placeholder="Filtrar por Nome ou Código">
      <button class="btn btn-white" type="button" id="button-filtrar-padrao">
        <i id="search-icon-glass" class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>    
  </div>
  <div class="col-md-2">
    <label class="text-modal">Status</label>
    <select class="form-control text-modal" id="filterAtivo">
      <option value="">Todos</option>
      <option value="Ativo">Ativo</option>
      <option value="Desativado">Desativado</option>
    </select>
  </div>
</div>

<table id="tabela-solicitacoes"  class="table table-hover w-100">
    <thead class="table-light">
        <tr>
            <th class="text-center">#</th>
            <th style="max-width: 300px;">Data da Solicitação</th>
            <th>Funcionário</th>
            <th>Itens</th>
            <th>Assinatura</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <!-- Os dados serão carregados dinamicamente -->
    </tbody>
</table>

{% include 'modal/modal_assinatura.html' %}
{% include 'modal/modal_editar_solicitacao.html' %}
{% include 'modal/modal_excluir_assinatura.html' %}

{% endblock %}

{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>
<script type="module" src="{% static 'js/get_solicitacoes_home.js' %}"></script>
<script type="module" src="{% static 'js/assinatura/assinatura.js' %}" ></script>
<script type="module" src="{% static 'js/assinatura/resize-canva.js' %}" ></script>
<script type="module" src="{% static 'js/solicitacao/event_solicitacoes.js' %}" ></script>
<script type="module" src="{% static 'js/solicitacao/modal_editar_solicitacao.js' %}" ></script>
<script type="module" src="{% static 'js/assinatura/excluir_assinatura.js' %}" ></script>

{% endblock %}