<div class="modal fade" id="modal-cancelar-solicitacao" data-solicitacao="" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header align-items-start">
        <div class="d-flex flex-column">
            <h5 class="modal-title" id="modal-cancelar-solicitacao-title">Cancelar Solicitação</h5>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="form-cancelar-solicitacao">
        <div class="modal-body">
            <p>Tem certeza que deseja cancelar essa solicitação?</p>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-danger d-flex align-items-center gap-2 button-cancelar-solicitacao">              
                <span class="spinner-border spinner-border-sm" style="display:none"></span>
                <span class="text-button" role="status">Excluir</span>
            </button>
        </div>
      </form>
    </div>
  </div>
</div>