<div class="modal fade" id="modal-criar-padrao" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-white d-flex justify-content-between align-items-start">
        <div>
          <h3 class="modal-title">Adicionar Padrão</h3>
          <span class="desc-modal-title">Adicione Padrões de Solicitação. Clique em salvar quando terminar.</span>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="form-criar-padrao">
        <div class="modal-body">
            <div class="row g-3 mb-3">
                <div class="col-md-12">
                    <label class="form-label text-modal">Nome do Padrão</label>
                    <input type="text" class="form-control text-modal" name="padrao_name" required>
                </div>
                {% if request.user.funcionario.tipo_acesso == 'master' %}
                <div class="col-md-12">
                    <label class="form-label text-modal">Setor do Padrão Criado</label>
                    <select type="text" class="form-control text-modal" id="padrao_setor" name="padrao_setor" required>
                    </select>
                </div>
                {% else %}
                <div class="col-md-12">
                    <label class="form-label text-modal">Setor do Padrão Criado</label>
                    <select type="text" class="form-control text-modal" id="padrao_setor" name="padrao_setor"
                    data-setor-id="{{ request.user.funcionario.setor.id }}">
                    </select>
                </div>
                {% endif %}
            </div>  
            <div id="clone-container-2">
                <div class="card clone-form-2 p-2 mb-3">
                    <p class="request text-modal text-end">1ª Solicitação do Padrão</p>

                    <div class="row g-3 mb-3">
                        <div class="col-md-9">
                            <label class="form-label text-modal">Equipamento</label>
                            <select class="form-select text-modal equipamento" name="item" required>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label text-modal">Quantidade</label>
                            <input type="number" class="form-control text-modal quantidade" name="quantity" min="1" value="1" required>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label text-modal">Funcionário</label>
                        <select class="form-select text-modal funcionario" name="operator" required>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label text-modal">Observação</label>
                        <textarea class="form-control text-modal observacao" name="observation" rows="1"></textarea>
                    </div>

                    <div class="mb-3">
                        <label class="form-label text-modal">Motivo</label>
                        <select class="form-select text-modal motivo" name="reason" required>
                            <option value="" selected hidden disabled></option>
                            {% for motivo in motivos %}
                            <option value="{{ motivo.id }}">{{ motivo.nome }}</option>                                    
                            {% endfor %}
                        </select>   
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <button type="button" id="remove-last-2" class="btn btn-outline-danger mb-3">
                    <i class="bi bi-dash-lg"></i>
                </button>
                <button type="button" id="add-clone-2" class="btn btn-outline-success mb-3">
                    <i class="bi bi-plus-lg"></i>
                </button>
            </div>

        </div>
        <div class="modal-footer justify-content-between">
            <button type="submit" class="btn btn-white d-flex align-items-center gap-2 criar-solicitar" id="criarSolicitarPadrao">              
                <span class="spinner-border spinner-border-sm" style="display:none"></span>
                <span role="status">Criar e Solicitar</span>
            </button>
            <button type="submit" class="btn btn-primary d-flex align-items-center gap-2 criar" id="salvarPadrao">              
                <span class="spinner-border spinner-border-sm" style="display:none"></span>
                <span role="status">Criar Padrão</span>
            </button>
        </div>
    </form>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-editar-padrao" data-id="" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-white d-flex justify-content-between align-items-start">
        <div>
          <h3 class="modal-title">Editar Padrão</h3>
          <span class="desc-modal-title">Edite Padrões de Solicitação. Clique em salvar quando terminar.</span>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="form-editar-padrao">
        <div class="modal-body">
            <div class="col-md-12 p-2 mb-3">
                <label class="form-label text-modal">Nome do Padrão</label>
                <input type="text" class="form-control text-modal" id="padrao_name_edit" name="padrao_name_edit" required>
            </div>
            <div id="clone-container-3">
                <div class="card clone-form-3 p-2 mb-3">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <div class="d-flex gap-2 align-items-center">
                            <button type="button" class="btn btn-sm bg-transparent border-0 toggle-collapse" 
                                    data-bs-toggle="collapse" data-bs-target="#formFields-0" aria-expanded="true">
                                <i class="bi bi-chevron-up"></i>
                            </button>
                            <p class="request text-modal mb-0">1ª Solicitação do Padrão</p>
                        </div>
                        <button type="button" class="btn btn-sm btn-outline-danger remove-specific" data-index="0">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>

                    <div class="collapse" id="formFields-0">
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label class="form-label text-modal">Equipamento</label>
                                <select class="form-select text-modal" name="item" required>
                                </select>
                            </div>
                        </div>
                        <div class="row g-3 mb-3">
                            <div class="col-md-9">
                                <label class="form-label text-modal">Funcionário</label>
                                <select class="form-select text-modal" name="operator" required>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label text-modal">Quantidade</label>
                                <input type="number" class="form-control text-modal" name="quantity" min="1" value="1" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label text-modal">Observação</label>
                                <textarea class="form-control text-modal" name="observation" rows="1"></textarea>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label text-modal">Motivo</label>
                                <select class="form-select text-modal motivo" name="reason" required>
                                    <option value="" selected hidden disabled></option>
                                    {% for motivo in motivos %}
                                    <option value="{{ motivo.id }}">{{ motivo.nome }}</option>                                    
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <button type="button" id="add-clone-3" class="btn btn-outline-success mb-3">
                    <i class="bi bi-plus-lg"></i>
                </button>
            </div>

        </div>
        <div class="modal-footer justify-content-between">
            <button type="submit" class="btn btn-white d-flex align-items-center gap-2 editar-solicitar" id="editar-solicitar-padrao">  
                <span class="spinner-border spinner-border-sm" style="display:none"></span>            
                <span role="status">Solicitar Padrão</span>
            </button>
            <button type="submit" class="btn btn-primary d-flex align-items-center gap-2" id="editarPadrao">              
                <span class="spinner-border spinner-border-sm" style="display:none"></span>
                <span role="status">Salvar</span>
            </button>
        </div>
    </form>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-desativar-padrao" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header align-items-start">
        <div class="d-flex flex-column">
            <h5 class="modal-title" id="modal-desativar-padrao-title">Desativar EPI</h5>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="row">
            <span class="desc-modal-title">Tem certeza que deseja desativar o padrão de EPI : <span style="color: red;" id="padrao-desativado">xxxxxxxx</span> ?</span>
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-white" data-bs-dismiss="modal">Cancelar</button>
          <button class="btn btn-danger d-flex align-items-center gap-2" data-id="" id="desativarPadrao">              
              <span class="spinner-border spinner-border-sm" style="display:none"></span>
              <span role="status">Salvar Alterações</span>
          </button>
      </div>
    </div>
  </div>
</div>